# Steam API 閰嶇疆
# 鑾峰彇鍦板潃: https://steamcommunity.com/dev/apikey
STEAM_API_KEY=7901BD217947FE48AB43248D7A0A8461
# Steam 64浣?ID, 鍙湪 https://steamid.io 鏌ヨ
STEAM_ID=76561199060065254

# Roblox 閰嶇疆
# 鍦ㄤ釜浜轰富椤?URL 涓殑鏁板瓧 ID
ROBLOX_USER_ID=

# Minecraft 閰嶇疆
# Java 鐗堢敤鎴峰悕
MINECRAFT_USERNAME=
